.bet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.bet-listing {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    text-decoration: none;
}

.bet-button {
    background-color: lightgray;
    box-shadow: none;
    border: none;
}

.bet-button:hover {
    background-color: gray;
}

.bet-button-selected {
    background-color: gray;
}