@import "./src/styles/bootstrap/scss/bootstrap";

$bug: #A8B820;
$bug-dark: #6D7815;
$bug-light: #C6D16E;

$dark: #705848;
$dark-dark: #49392F;
$dark-light: #A29288;

$dragon: #7038F8;
$dragon-dark: #4924A1;
$dragon-light: #A27DFA;

$electric: #F8D030;
$electric-dark: #A1871F;
$electric-light: #FAE078;

$fairy: #EE99AC;
$fairy-dark: #9B6470;
$fairy-light: #F4BDC9;

$fighting: #C03028;
$fighting-dark: #7D1F1A;
$fighting-light: #D67873;

$fire: #F08030;
$fire-dark: #9C531F;
$fire-light: #F5AC78;

$flying: #A890F0;
$flying-dark: #6D5E9C;
$flying-light: #C6B7F5;

$ghost: #705898;
$ghost-dark: #493963;
$ghost-light: #A292BC;

$grass: #78C850;
$grass-dark: #4E8234;
$grass-light: #A7DB8D;

$ground: #E0C068;
$ground-dark: #927D44;
$ground-light: #EBD69D;

$ice: #98D8D8;
$ice-dark: #638D8D;
$ice-light: #BCE6E6;

$normal: #A8A878;
$normal-dark: #6D6D4E;
$normal-light: #C6C6A7;

$poison: #A040A0;
$poison-dark: #682A68;
$poison-light: #C183C1;

$psychic: #F85888;
$psychic-dark: #A13959;
$psychic-light: #FA92B2;

$rock: #B8A038;
$rock-dark: #786824;
$rock-light: #D1C17D;

$steel: #B8B8D0;
$steel-dark: #787887;
$steel-light: #D1D1E0;

$water: #6890F0;
$water-dark: #445E9C;
$water-light: #9DB7F5;